/*
-------------------------------------------------------------------------------
Infos
-------------------------------------------------------------------------------

Dark red :
#FF4A23
filter: invert(38%) sepia(48%) saturate(3872%) hue-rotate(346deg) brightness(100%) contrast(101%);

Light red :
#FF846A
filter: invert(69%) sepia(42%) saturate(2603%) hue-rotate(316deg) brightness(102%) contrast(100%);

White :
#FFFFFF
filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(99deg) brightness(107%) contrast(101%);

*/

/*
-------------------------------------------------------------------------------
Toolbar style
-------------------------------------------------------------------------------
*/

html, body{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-y: hidden;
  font-family: sans-serif;
}

nav{
  width: 100%;
  height: 60px;
  margin-bottom: 25px;
  background-color: #FF846A;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo{
  font-size: 25px;
  color: #FFFFFF;
  margin-left: 20px;
}

nav .tools{
  margin-right: 20px;
}

nav .tools button{
  font-size: 30px;
  color: #FFFFFF;
  background-color: #FF846A;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  margin-left: 5px;
  min-width: 50px;
  padding: 5px 0px;
}

nav .tools button:hover{
  color: #FF846A;
  background-color: #FFFFFF;
}

nav .tools button:focus{
    outline: none;
}

.rotated {
  transform: rotate(45deg);
  font-size: 25px;
}

/*
-------------------------------------------------------------------------------
Canvas style
-------------------------------------------------------------------------------
*/

#canvas{
  display: block;
  width: 100%;
  height: calc(100vh);
}

/*
-------------------------------------------------------------------------------
Input Box Style
-------------------------------------------------------------------------------
*/

#inputBox{
  width: 200px;
  height: 150px;
  position: absolute;
  top: 80px;
  left: 20px;
  border: 2px solid #FF846A;
  border-radius: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#inputBox textarea{
  margin: 10px 0px;
  resize: none;
}

#inputBox textarea:focus{
  outline: 1px solid #FF846A;
}

#inputBox button{
  margin-bottom: 10px;
}

#inputBoxHeader{
  width: 100%;
  color: #FFFFFF;
  background-color: #FF846A;
  text-align: center;
  padding: 5px 0px;
  border-radius: 5px 5px 0px 0px;
}

/*
-------------------------------------------------------------------------------
Help box style
-------------------------------------------------------------------------------
*/

#helpBox{
  width: 300px;
  height: 150px;
  position: absolute;
  top: 70px;
  right: 10px;
  border: 2px solid #FF846A;
  border-radius: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#helpBoxHeader{
  width: 100%;
  position: absolute;
  top: 0px;
  color: #FFFFFF;
  background-color: #FF846A;
  text-align: center;
  padding: 5px 0px;
  border-radius: 5px 5px 0px 0px;
}

#helpButton{
  position: absolute;
  top: 70px;
  right: 10px;
  font-size: 25px;
  color: #FF684A;
  background-color: transparent;
  border: none;
}

/*
-------------------------------------------------------------------------------
Nodes style
-------------------------------------------------------------------------------
*/

.square {
    height: 40px;
    width: 40px;
    color: #FFFFFF;
    background-color: #FF846A;
    border: 1px solid #FF4A23;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* -webkit-transform: rotate(45deg); to rotate */
}

.diamond {
    width:35px;
    height:35px;
    color: #FFFFFF;
    background: #FF846A;
    border: 1px solid #FF4A23;
    border-radius:5px;
    display:flex;
    justify-content:center;
    align-items:center;
    transform:rotate(45deg);
}

.diamond div {
  transform:rotate(-45deg);
}

.circle {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 20px; /* moitié du width et height */
    background-color: #FF846A;
    border: 1px solid #FF4A23;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.nodeCaption{
  display: flex;
  align-items: center;
  white-space: pre-wrap;
  height: 40px;
  font-size: 16px;
  line-height: 13px;
  overflow-y: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrowCaption{
  background-color: #000000;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  white-space: pre-wrap;
  height: auto;
  font-size: 16px;
  line-height: 13px;
  border-radius: 5px;
  padding: 2px 5px;
  overflow-y: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
-------------------------------------------------------------------------------
Arrows style
-------------------------------------------------------------------------------
*/

.arrow{
  stroke: black;
  stroke-width:2;
  marker-end:url(#markerArrow);
}
